* {
  padding: 0;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  margin: 0 auto;
}
.form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-bottom: 16px;
  color: #2e2f42;
}
input[name='delay'] {
  max-width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 10px;
}
input[name='delay']:hover {
  border: 1px solid #000000;
}

input[name='delay']:focus {
  border: 1px solid #4e75ff;
  outline: none;
}
.form > fieldset {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-bottom: 24px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-around;
}
.form > fieldset:hover {
  border-color: #000;
}

.form > fieldset:focus-within {
  border-color: #000;
}
.form fieldset > label {
  display: flex;
  flex: row;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}
.form legend {
  margin-left: 28px;
  margin-bottom: 14px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input[type='radio'] {
  border: 1px solid #757575;
  border-radius: 14px;
  width: 20px;
  height: 20px;
}

button[type='submit'] {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

button[type='submit']:hover {
  background: #6c8cff;
}
